@import "components/variables";


// ---------------------------------------
//      PARALAX 1
// ---------------------------------------
.conten-ancestro {
    background-color: $color-blanco;
    height: 100vmax;
    padding: 0;
    background: cadetblue fixed no-repeat 50% 50%;
    background-image: url(assets/img/mapa-compass.jpg);
    background-size: cover;
    object-fit: cover;

    .filtro-paralax {
        height: 100%;
        background-color: $color-filtrobranco;

        .conten-extremos {
            // border: 1px solid red;
            // background-color: rgba(255, 0, 0, 0.227);
            height: 25%;
    
            .extremos-laterales {
                // background-color: rgba(255, 255, 0, 0.309);
            }
            
            .extremos-centro {
                // background-color: rgba(0, 0, 255, 0.316);
            
                p {
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    margin: auto;
                    font-size: 10px;
                }
            }
    
            .extremo-centro-inf {
                p {
                    margin-top: 40px;
                }
            }
    
            .extremo-inf-izq {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
    
                .flecha {
                    // border: 1px solid black;
                    width: 40px;
                    height: 75px;
    
                    img {
                        width: 100%;
                        position: relative;
                        animation-name: flechaabajo;
                        animation-duration: 1s;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
    
        .conten-centro {
            // border: 1px solid red;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
    
            .centro-titulo {
                // background-color: rgba(0, 128, 0, 0.227);
                
                h2 {
                    color: $color-celesteoscuro;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                }
            }
    
            .centro-comentarios {
                // background-color: rgba(58, 223, 16, 0.508);
    
                .comentario-izq {
                    // border: 1px solid rgba(255, 0, 0, 0.227);
                    p {
                        // text-align: end;
                        color: $color-grisoscuro1;
                        text-align: end;
                    }
                }
    
                .comentario-der {
                    border-left: 1px solid $color-celesteoscuro;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
    
                    p {
                        text-align: start;
                        color: $color-grisoscuro1;
                    }
                }
            }
        }
    }
}

// ---------------------------------------
//    HISTORIA 2
// ---------------------------------------
.history2-ancestro {
    background-color: $color-blanco;
    // border: 1px solid magenta;
    height: 50px;
}

// ---------------------------------------
//      SKILLS
// ---------------------------------------
.skill-ancestro {
    // border: 1px solid red;
    height: 105vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .skill-conten-superior {
        // border: 1px solid blue;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .skill-sup-izq {
            // background-color: rgba(32, 135, 172, 0.09);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            h2 {
                font-size: 40px;
                margin: 0;
            }
        }

        .skill-sup-der {
            // border: 1px solid yellow;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: $color-grisclaro1;
                font-size: 60px;
            }
        }
    }

    .skill-conten-centro {
        // border: 1px solid yellow;
        height: auto;
        padding: 0px 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .skill-centro-izq {
            // border: 1px solid aqua;
            height: 100%;
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            p {
                color: $color-celesteoscuro;
                text-align: end;
                border-right: 1px solid $color-celesteoscuro;
                padding-right: 10px;
            }
        }

        .skill-centro-der {
            // background-color: rgba(126, 252, 0, 0.022);
            height: 100%;
            width: 65%;
            padding: 0px 10px;
            display: flex;
            flex-flow: wrap row;
            justify-content: flex-start;
            align-items: center;
            align-content: center;

            .skill-icon {
                width: 40px;
                margin: 16px 13px;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }

            .skill-icon:hover {
                width: 60px;
                margin: 8px 3px;
                filter: $color-efectohover;
                transition: 0.3s;
            }
        }
    }

    .skill-conten-inferior {
        // border: 1px solid rgb(220, 20, 60);
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .skill-inf-izq {
            // background-color: rgba(220, 20, 60, 0.186);
            width: 50%;
            height: 100%;
            padding-right: 5px;
            border-right: 1px solid $color-celesteoscuro;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            p {
                color: $color-celesteoscuro;
                text-align: end;
            }
        }

        .skill-inf-der {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;

            .skill-icon {
                width: 40px;
                margin: 0px 5px 0px 0px;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }

            .skill-icon:hover {
                width: 60px;
                margin: 8px 3px;
                filter: $color-efectohover;
                transition: 0.3s;
            }
        }
    }
}

// ---------------------------------------
//    HISTORIA 2
// ---------------------------------------
.history2-ancestro {
    background-color: $color-blanco;
    // border: 1px solid magenta;
    height: 40px;
}

// ---------------------------------------
//    SERVICIOS
// ---------------------------------------
.servicios-ancestro {
    // border: 1px solid magenta;
    background-color: $color-blanco;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .servicios-sup {
        // border: 1px solid blue;
        padding: 0;
        margin: 20px 0px 10px;

        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        align-items: baseline;

        .servicios-numero {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            h2 {
                color: $color-filtrogris2;
                font-size: 60px;
            }
        }

        .servicios-titulo {
            margin-right: 20px;

            h2 {
                font-size: 40px;
                margin: 0;
                color: $color-grisoscuro1;
            }
        }

    }

    .contenedor-serv {
        // border: 1px solid red;
        height: auto;

        .servicios-centro {
            // border: 1px solid red;
            height: auto;
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            align-items: center;
    
            .servicios-img {
                width: 15vh;
                margin: 30px 0px;
    
                img {
                    width: 100%;
                }
            }
        }

        .servicios-inf {
            // height: 150px;
            border-radius: 5px;
            // border: 1px solid $color-filtrogris2;
            // box-shadow: 1px 1px 3px $color-filtrogris;
            width: 100%;
            padding: 0;
            margin-bottom: 30px;
    
            #parrafo-colapso {
                color: $color-grisoscuro1;
                text-align: justify;
            }
            #servicios-icon {
                width: 35px;
                margin-right: 20px;
            }
            #acordion-body {
                background-color: $color-filtrogris2;
            }

            .servicio-info {
                // border: 1px solid black;
                height: 50%;
                padding: 0px 20px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: justify;
    
                p {
                    color: $color-grisoscuro2;
                    margin-bottom: 10px;
                    line-height: 17px;
                }
            }
    
            .accordion-button:not(.collapsed) {
                color: $color-celesteclaro;
                background-color: $color-grisclaro1;
            }
    
            .accordion .accordion-item .accordion-header {
                // border: 1px solid red;
            }
            .accordion .accordion-item .accordion-header:hover {
                
            }
            .accordion .accordion-item .accordion-header button:hover {
                color: $color-celesteclaro;
                transition: 0.4s;
                background-color: $color-grisclaro2;
            }
            .accordion .accordion-item .accordion-header button:active {
                
            }
        }
    }
}

// ---------------------------------------
//    HISTORIA 3
// ---------------------------------------
.history3-ancestro {
    background-color: $color-blanco;
    // border: 1px solid magenta;
    height: 100px;
}