body {
    background-color: #222831;
}

/* -------MENU--------------------------------- */
.burger-icon {
    display: none;
    width: 50px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: -15px;
    z-index: 3;
}
.burger-icon img {
    width: 100%;
}

.menu-container {
    height: 60px;
}

.menu-row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: auto;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav a {
    text-decoration: none;
    margin: 0px 10px;
    color: #ececec8c;
}

nav a:hover {
    color: #f2a365;
}

/* ------- HEADER ---------  ----- */
.container-header {
    border: 1px solid red;
    height: 95vmax;
    background-image: url(assets/img/estrellas.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ececec;
}

.row-header {
    border: 1px solid green;
    height: 95vmax;
    background-image: url(assets/img/nave-marte.\(2\).svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero {
    border: 1px solid blue;
}

h1 {
    font-size: 10vw;
    padding-left: 10vw;
}

h3 {
    color: #f2a365;
    padding-left: 10vw;
}

.hero-info {
    border: 1px solid blue;
    text-align: right;
}