body {
    background-color: #222831;
}
h1, h2, h3 {
    font-family: ;
}
p, a {
    font-family: 'Aldrich', sans-serif;
    font-size: 14px;
}

/* -------MENU--------------------------------- */
.burger-icon {
    display: none;
    width: 50px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 3;
}
.burger-icon img {
    width: 100%;
    filter: drop-shadow(1px 1px  1px rgba(0, 0, 0, 0.5));
}
.menu-container-fluid {
    height: 70px;
    background: rgb(34,40,49);
    background: linear-gradient(180deg, rgba(34,40,49,1) 50%, rgba(255,255,255,0) 100%);
    position: sticky;
    top: 0;
    z-index: 1;
}
.menu-container {
    /* border: 1px solid red; */
    height: 50px;
}
.menu-row {
    /* border: 1px solid greenyellow; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    height: auto;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
nav a {
    text-decoration: none;
    margin: 0px 10px;
    color: #ececec8c;
}
nav a:hover {
    color: #f2a365;
}

/* ---------BOTON DE CONTACTO------------- */
.contacto-button {
    width: 60px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.contacto-button img {
    width: 100%;
    filter: drop-shadow(1px 1px  1px rgba(0, 0, 0, 0.5));
}
.foto-perfil {
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 60%;
    top: -40px;
}
.modal-dialog {
    margin: 70px 18vw 0;
    color: #30475e;
    font-family: 'Aldrich', sans-serif;
    width: 270px;
    height: auto;
    left: ;
}
.modal-content {
    background-color: #ececec;
}
.modal-title {
    margin-left: 3%;
}
.modal-body .row {
    /* border: 1px solid red; */
    margin: 30px 0px;
    justify-content: space-around;
}
.social {
    /* border: 1px solid blue; */
    width: auto;
}
.social-img {
    width: 50px;
}
.modal-footer {
    background-color: #f2a365;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-whatsapp {
    width: 70px;
}

/* ------- HEADER ---------  ----- */



/* --------------SOBRE MI------------------ */


/* --------------HISTORIA 1 PARALAX---------------- */
.historia1-ancestro {
    /* border: 1px solid yellow; */
    height: 100vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: cadetblue fixed no-repeat 50% 50%;
    background-image: url(assets/img/teclado1.jpg);
    background-size: cover;
    object-fit: cover;
}
.historia-transicion {
    /* border: 1px solid red; */
    height: 150px;
    background: rgb(34,40,49);
    background: linear-gradient(180deg, rgba(34,40,49,1) 0%, rgba(255,255,255,0) 100%);
}
.historia1-padre {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.historia-txt {
    /* border: 1px solid cyan; */
    color: #ececec;
    text-align: center;
    padding: 0px 20px;
}

/* --------SKILLS---------------------- */
