.hero-faja {
  height: 50px;
}

.hero-ancestro {
  height: 100vmax;
  padding: 0;
  background-image: url(assets/img/perfil-vector-BN.png);
  background-repeat: no-repeat;
  background-size: 70vh;
  background-position: bottom left;
}
.hero-ancestro .hero-padre {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.hero-ancestro .hero-padre .hero-title {
  width: auto;
  margin: 30px 0px 0px 5%;
  padding: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-ancestro .hero-padre .hero-title h1 {
  width: auto;
  padding: 0;
  font-size: 70px;
  margin: 0;
  padding: 0;
  color: #eeeeee;
}
.hero-ancestro .hero-padre .hero-title h2 {
  width: auto;
  height: auto;
  font-size: 25px;
  color: #0d7377;
  margin: 0px;
}
.hero-ancestro .hero-padre .hero-title p {
  font-size: 15px;
  color: #af0404;
  margin: 0px;
  text-align: end;
}
.hero-ancestro .hero-padre .hero-banner {
  width: auto;
  padding: 0;
  margin: 35px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.hero-ancestro .hero-padre .hero-banner h2 {
  margin: 0;
  padding: 0;
  width: auto;
  writing-mode: vertical-rl;
  font-size: 75px;
  color: #3131313c;
}

.conten-ancestro {
  background-color: #eeeeee;
  height: 100vmax;
  padding: 0;
  background: cadetblue fixed no-repeat 50% 50%;
  background-image: url(assets/img/mapa-compass.jpg);
  background-size: cover;
  object-fit: cover;
}
.conten-ancestro .filtro-paralax {
  height: 100%;
  background-color: #ffffffc1;
}
.conten-ancestro .filtro-paralax .conten-extremos {
  height: 25%;
}
.conten-ancestro .filtro-paralax .conten-extremos .extremos-centro p {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: auto;
  font-size: 10px;
}
.conten-ancestro .filtro-paralax .conten-extremos .extremo-centro-inf p {
  margin-top: 40px;
}
.conten-ancestro .filtro-paralax .conten-extremos .extremo-inf-izq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.conten-ancestro .filtro-paralax .conten-extremos .extremo-inf-izq .flecha {
  width: 40px;
  height: 75px;
}
.conten-ancestro .filtro-paralax .conten-extremos .extremo-inf-izq .flecha img {
  width: 100%;
  position: relative;
  animation-name: flechaabajo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.conten-ancestro .filtro-paralax .conten-centro {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.conten-ancestro .filtro-paralax .conten-centro .centro-titulo h2 {
  color: #0d7377;
  margin: 0;
  padding: 0;
  text-align: center;
}
.conten-ancestro .filtro-paralax .conten-centro .centro-comentarios .comentario-izq p {
  color: #212121;
  text-align: end;
}
.conten-ancestro .filtro-paralax .conten-centro .centro-comentarios .comentario-der {
  border-left: 1px solid #0d7377;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.conten-ancestro .filtro-paralax .conten-centro .centro-comentarios .comentario-der p {
  text-align: start;
  color: #212121;
}

.history2-ancestro {
  background-color: #eeeeee;
  height: 50px;
}

.skill-ancestro {
  height: 105vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.skill-ancestro .skill-conten-superior {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-ancestro .skill-conten-superior .skill-sup-izq {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.skill-ancestro .skill-conten-superior .skill-sup-izq h2 {
  font-size: 40px;
  margin: 0;
}
.skill-ancestro .skill-conten-superior .skill-sup-der {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-ancestro .skill-conten-superior .skill-sup-der h2 {
  color: #323232;
  font-size: 60px;
}
.skill-ancestro .skill-conten-centro {
  height: auto;
  padding: 0px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skill-ancestro .skill-conten-centro .skill-centro-izq {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.skill-ancestro .skill-conten-centro .skill-centro-izq p {
  color: #0d7377;
  text-align: end;
  border-right: 1px solid #0d7377;
  padding-right: 10px;
}
.skill-ancestro .skill-conten-centro .skill-centro-der {
  height: 100%;
  width: 65%;
  padding: 0px 10px;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.skill-ancestro .skill-conten-centro .skill-centro-der .skill-icon {
  width: 40px;
  margin: 16px 13px;
  cursor: pointer;
}
.skill-ancestro .skill-conten-centro .skill-centro-der .skill-icon img {
  width: 100%;
}
.skill-ancestro .skill-conten-centro .skill-centro-der .skill-icon:hover {
  width: 60px;
  margin: 8px 3px;
  filter: drop-shadow(1px 1px 10px #0d7377);
  transition: 0.3s;
}
.skill-ancestro .skill-conten-inferior {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skill-ancestro .skill-conten-inferior .skill-inf-izq {
  width: 50%;
  height: 100%;
  padding-right: 5px;
  border-right: 1px solid #0d7377;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.skill-ancestro .skill-conten-inferior .skill-inf-izq p {
  color: #0d7377;
  text-align: end;
}
.skill-ancestro .skill-conten-inferior .skill-inf-der {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.skill-ancestro .skill-conten-inferior .skill-inf-der .skill-icon {
  width: 40px;
  margin: 0px 5px 0px 0px;
  cursor: pointer;
}
.skill-ancestro .skill-conten-inferior .skill-inf-der .skill-icon img {
  width: 100%;
}
.skill-ancestro .skill-conten-inferior .skill-inf-der .skill-icon:hover {
  width: 60px;
  margin: 8px 3px;
  filter: drop-shadow(1px 1px 10px #0d7377);
  transition: 0.3s;
}

.history2-ancestro {
  background-color: #eeeeee;
  height: 40px;
}

.servicios-ancestro {
  background-color: #eeeeee;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.servicios-ancestro .servicios-sup {
  padding: 0;
  margin: 20px 0px 10px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: baseline;
}
.servicios-ancestro .servicios-sup .servicios-numero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.servicios-ancestro .servicios-sup .servicios-numero h2 {
  color: #2121213c;
  font-size: 60px;
}
.servicios-ancestro .servicios-sup .servicios-titulo {
  margin-right: 20px;
}
.servicios-ancestro .servicios-sup .servicios-titulo h2 {
  font-size: 40px;
  margin: 0;
  color: #212121;
}
.servicios-ancestro .contenedor-serv {
  height: auto;
}
.servicios-ancestro .contenedor-serv .servicios-centro {
  height: auto;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}
.servicios-ancestro .contenedor-serv .servicios-centro .servicios-img {
  width: 15vh;
  margin: 30px 0px;
}
.servicios-ancestro .contenedor-serv .servicios-centro .servicios-img img {
  width: 100%;
}
.servicios-ancestro .contenedor-serv .servicios-inf {
  border-radius: 5px;
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
}
.servicios-ancestro .contenedor-serv .servicios-inf #parrafo-colapso {
  color: #212121;
  text-align: justify;
}
.servicios-ancestro .contenedor-serv .servicios-inf #servicios-icon {
  width: 35px;
  margin-right: 20px;
  position: static;
  z-index: 0;
}
.servicios-ancestro .contenedor-serv .servicios-inf #acordion-body {
  background-color: #2121213c;
}
.servicios-ancestro .contenedor-serv .servicios-inf .servicio-info {
  height: 50%;
  padding: 0px 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.servicios-ancestro .contenedor-serv .servicios-inf .servicio-info p {
  color: #252525;
  margin-bottom: 10px;
  line-height: 17px;
}
.servicios-ancestro .contenedor-serv .servicios-inf .accordion-button:not(.collapsed) {
  color: #14ffec;
  background-color: #323232;
}
.servicios-ancestro .contenedor-serv .servicios-inf .accordion .accordion-item .accordion-header button:hover {
  color: #14ffec;
  transition: 0.4s;
  background-color: #414141;
}
.history3-ancestro {
  background-color: #eeeeee;
  height: 100px;
}

.proyecto-faja {
  background-color: #414141;
  height: 70px;
}

.proyect-ancestro {
  background-color: #414141;
  height: 100vmax;
  position: relative;
}
.proyect-ancestro .proyecto-wraper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.proyect-ancestro .proyecto-wraper .proyecto-titulo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.proyect-ancestro .proyecto-wraper .proyecto-titulo h2 {
  margin: 0;
  font-size: 40px;
  width: auto;
}
.proyect-ancestro .proyecto-wraper .proyecto-mono {
  height: 50%;
  background-image: url(assets/img/monito-buscando.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.proyect-ancestro .proyecto-wraper .proyecto-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.proyect-ancestro .proyecto-wraper .proyecto-btn .proyecto-joystic {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyect-ancestro .proyecto-wraper .proyecto-btn .proyecto-joystic .joystic-fila {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.proyect-ancestro .proyecto-wraper .proyecto-btn .proyecto-joystic .joystic-fila .btn-x3 {
  margin: 3px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.proyect-ancestro .proyecto-wraper .proyecto-btn .proyecto-joystic .joystic-fila .btn-x3 img {
  width: 100%;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
.proyect-ancestro .proyecto-wraper .proyecto-btn .proyecto-joystic .joystic-fila .btn-x3 img:hover {
  filter: drop-shadow(1px 1px 10px #0d7377);
}
.proyect-ancestro .proyecto-wraper .proyecto-btn .btn-proyect {
  width: 80px;
  cursor: pointer;
  transition: 0.3s;
}
.proyect-ancestro .proyecto-wraper .proyecto-btn .btn-proyect img {
  width: 100%;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
.proyect-ancestro .proyecto-wraper .proyecto-btn .btn-proyect:hover {
  filter: drop-shadow(1px 1px 10px #0d7377);
  transition: 0.3s;
}
.proyect-ancestro .proyecto-wraper .proyecto-numero {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.proyect-ancestro .proyecto-wraper .proyecto-numero .numero04 {
  width: auto;
  margin: 0px 20px 0px 0px;
  padding: 0;
}
.proyect-ancestro .proyecto-wraper .proyecto-numero .numero04 h2 {
  font-size: 60px;
  margin: 0;
  width: auto;
  color: #323232;
}
.proyect-ancestro .error404-activo {
  background-color: #414141;
  height: 60%;
  width: 98vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: 0.4s;
}
.proyect-ancestro .error404-activo .error404-conteiner {
  height: 100%;
  width: 100%;
  background-image: url(/assets/img/error-404.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 83vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.proyect-ancestro .error404-activo .error404-conteiner #error404-titulo {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.proyect-ancestro .error404-activo .error404-conteiner #error404-titulo h2 {
  margin: 0;
}
.proyect-ancestro .error404-activo .error404-conteiner #error404-titulo p {
  margin: 0;
  font-size: 18px;
}
.proyect-ancestro .error404-oculto {
  left: -98vw;
}
.proyect-ancestro .planta-activa {
  background-color: #414141;
  height: 60%;
  width: 98vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: 0.4s;
}
.proyect-ancestro .planta-activa .planta-conteiner {
  height: 100%;
  width: 100%;
  background-image: url(/assets/img/planta.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 83vw;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.proyect-ancestro .planta-activa .planta-conteiner #planta-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyect-ancestro .planta-activa .planta-conteiner #planta-titulo p {
  margin: 0;
  text-align: center;
  font-size: 18px;
}
.proyect-ancestro .planta-oculta {
  left: -98vw;
}

/*# sourceMappingURL=style.css.map */
