/*---------------------------------------- */
/*    TABLET    */
/* --------------------------------------- */

@media screen and (min-width: 768px) {

    /* -------BOTON DE CONTACTO------ */
    .contacto-button {
        width: 70px;
        height: 70px;
        top: 5px;
        left: 5vw;
        z-index: 1;
    }

    /* ------HEADER-------------------- */
    .header-ancestro  {
        height: 100vmin;
    }
    .header-padre-centro h5 {
        padding: 0% 20%;
    }
    .header-monitor {
        width: 60%;
        padding: 40px 0px;
    }
    .flecha-abajo a img {
        margin-right: 30vmax;
    }

    /* --------SOBRE MI--------------- */
    .sobremi-ancestro  {
        height: 100vmin;
    }
    .sobremi-f1-izq h2 {
        font-size: 4.5rem;
        margin-left: 200px;
    }
    .sobremi-centro-izq h2 {
        font-size: 4.5rem;
        margin-left: 200px;
    }
    .numero01 h2 {
        font-size: 5rem;
        margin: 0;
        text-align: center;
    }

    /* -----------HISTORIA 1-------------- */
    .historia1-ancestro  {
        height: 100vmin;
    }

    /* ---------------------------- */
    /* ----SKILLS- */
    /* ---------------------------- */
    .skill-ancestro {
        height: 100vmin;
    }
    .skill-conten-superior {
        margin-top: 20px;
    }
    #titulo-skill {
        font-size: 5rem;
    }
    .skill-linea {
        height: 50px;
    }
    .skill-sup-der {
        padding-right: 4rem;
    }
    #numero02 {
        font-size: 5rem;
    }

    /* ---------------------------- */
    /* ----SERVICIOS   - */
    /* ---------------------------- */
    .servicios-ancestro {
        height: 100vmin;
    }
    .servicios-sup {
        /* background-color: rgba(255, 166, 0, 0.405); */
    }
    .servicios-numero {
        justify-content: flex-start;
    }
    #numero03 {
        font-size: 5rem;
    }
    #servicios-titulo {
        font-size: 5rem;
    }
    .servicios-ancestro .servicios-centro {
        justify-content: space-evenly;
    }
    .servicios-ancestro .servicios-centro .servicios-img {
        width: 25vh;
        margin-right: 40px;
    }
    .servicios-ancestro .servicios-centro .servicio-info {
        text-align: center;
    }














    /* ---------FOOTER-------------------- */
    .footer-ancestro  {
        height: 100vmin;
    }
    .numero05 h2 {
        font-size: 5rem;
        margin: 20px 0px 0px 30%;
    }
    .footer-padre-centro h5 {
        padding: 0% 20%;
    }
    .footer-centro-titulo h2 {
        font-size: 4rem;
    }
    .footer-redes {
        flex-direction: row;
        justify-content: center;
    }
    .footer-redes-cont {
        margin: 0px 10px 0px;
    }

}