/* -------------DISPOSITIVO MOVIL---------------------------- */
@media screen and (max-width: 576px) {
    .menu-container-fluid, .menu-container, .menu-row {
        height: auto;
    }
    .burger-icon {
        display: flex;
    }

    /*---------- MENU ACTIVO Y OCULTO -----*/
    .menu-activo {
        background-color: #252525;
        height: 100%;
        width: 80vw;
        padding: 90px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 2;
        transition: 0.4s;
    }
    .menu-activo ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-activo li {
        margin: 20px 0px 20px 50px;
    }
    .menu-activo li a {
        color: #14ffec;
        font-size: 20px;
    }
    .menu-contacto {
        height: 100%;
        background-color: #414141;
        border-radius: 6px 6px 0px 0px;
    }
    .menu-activo .menu-contacto a {
        color: #eeeeee;
    }
    .menu-oculto {
        left: -80vw;
    }
}

/* -----md 768----TABLET Y SUPERIOR ------------------- */
@media screen and (min-width: 768px) {

    /* -------BOTON DE CONTACTO------ */
    .contacto-button {
        width: 70px;
        height: 70px;
        top: 5px;
        left: 5vw;
        z-index: 1;
    }

    /* ------HEADER-------------------- */
    .header-ancestro  {
        height: 100vmin;
    }
    .header-padre-centro h5 {
        padding: 0% 20%;
    }
    .header-monitor {
        width: 60%;
        padding: 40px 0px;
    }
    .flecha-abajo a img {
        margin-right: 30vmax;
    }

    /* --------SOBRE MI--------------- */
    .sobremi-ancestro  {
        height: 100vmin;
    }
    .sobremi-f1-izq h2 {
        font-size: 4.5rem;
        margin-left: 200px;
    }
    .sobremi-centro-izq h2 {
        font-size: 4.5rem;
        margin-left: 200px;
    }
    .numero01 h2 {
        font-size: 9rem;
        margin: 0;
    }

    /* -----------HISTORIA 1-------------- */
    .historia1-ancestro  {
        height: 100vmin;
    }

    /* -----------SKILLS------------------ */

    
    /* ---------FOOTER-------------------- */
    .footer-ancestro  {
        height: 100vmin;
    }
    .numero05 h2 {
        font-size: 9rem;
        margin: 20px 0px 0px;
    }
    .footer-padre-centro h5 {
        padding: 0% 20%;
    }

}