/* -------------DISPOSITIVO MOVIL---------------------------- */
@media screen and (max-width: 576px) {
    .menu-container-fluid, .menu-container, .menu-row {
        height: auto;
    }
    .burger-icon {
        display: flex;
    }

    /*---------- MENU ACTIVO Y OCULTO -----*/
    .menu-activo {
        background-color: #ececec;
        height: 100%;
        width: 60vw;
        padding: 90px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 2;
        transition: 0.3s;
    }
    .menu-activo ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-activo li {
        margin: 20px 0px 20px 50px;
    }
    .menu-activo li a {
        color: #30475e;
        font-size: 20px;
    }
    .menu-contacto {
        height: 100%;
        background-color: #30475e;
        border-radius: 6px 6px 0px 0px;
    }
    .menu-activo .menu-contacto a {
        color: white;
    }
    .menu-oculto {
        left: -60vw;
    }
}
/* ---------------TABLET Y SUPERIOR ------------------- */
@media screen and (min-width: 768px) {
    .container-header {
        height: auto;
    }
    .row-header {
        height: inherit;
    }
    .hero-cita {
        margin: 5% 0px 0px 55%;
    }
    h1 {
        padding-top: 9%;
    }
    h3 {
        font-size: 2.5vw;
    }

    /* -------BOTON DE CONTACTO------ */
    .contacto-button {
        width: 70px;
        top: 5px;
        left: 10vw;
        z-index: 1;
    }

    /* --------SOBRE MI--------------- */
    .sobremi-padre {
        height: auto;
    }
    .sobremi-contenedor {
        height: auto;
        padding: 20px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobremi-ph {
        width: 200px;
    }
}